.navbar-category-wrapper {
  padding: 5px 0;
  background-color: #FFA500; /* Nền cam */
  border-top: 2px solid #1A3C34; /* Viền trên xanh lá cây đậm */
  border-bottom: none;
  overflow-x: auto;
  white-space: nowrap;
  scrollbar-width: none;
  position: relative;

  &::-webkit-scrollbar {
    display: none;
  }

  &::before,
  &::after {
    content: "<"; /* Ký hiệu mũi tên trái */
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #1A3C34; /* Màu chữ giống nút */
    font-size: 12px;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  &::before {
    left: 5px; /* Nút bên trái */
  }

  &::after {
    content: ">"; /* Ký hiệu mũi tên phải */
    right: 10px; 
  }

  &:hover::before,
  &:hover::after {
    color: #c92127; 
  }
}

.navbar-category {
  display: flex;
  gap: 5px;
  padding: 0 15px;
  list-style: none;
  margin: 0;
  justify-content: center;

  li {
    a {
      display: inline-block;
      padding: 5px 12px;
      border-radius: 20px;
      background-color: #FFA500; 
      color: #1A3C34; 
      text-decoration: none;
      font-size: 14px;
      font-weight: bold;
      transition: all 0.3s ease;

      &:hover,
      &.active {
        background-color: #c9be21; 
        color: #fff;
      }
    }
  }
}